<div class="dashboard_admin">

	<div class="profil_img">
		<div class="img"></div>
	</div>

	<nav class="menu">
		<ul>
			<div class="line"></div>
			<a href="{{ path('app_admin_message_index') }}"><li>Messages</li></a>
			<div class="line"></div>
			<a href="{{ path('app_admin_project_index') }}"><li>Projets</li></a>
			<div class="line"></div>
		</ul>
	</nav>

	<div class="separator"></div>
	<div class="footer">
		<div class="social_link">
			<ul>
				<a href="http://www.linkedin.com/in/gautierfondevila"><li><img src="{{ asset('build/images/linkedin_logo.png') }}" alt="Linkedin logo"></li></a>
				<a href="https://github.com/Alphapwned"><li><img src="{{ asset('build/images/github_logo.png') }}" alt="Github logo"></li></a>
				<a href="https://www.youtube.com/channel/UC-80OmuY1efzOE3EKgkbi5w"><li><img src="{{ asset('build/images/youtube_logo.png') }}" alt="Youtube logo"></li></a>
			</ul>
		</div>
		<p>
			2022 © FONDEVILA Gautier<br>All rights reserved</p>
	</div>
</div>
