{% extends 'baseUser.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

    <h3 class="text-center">Projects I've worked on</h3>

    <div class="portfolio_wrapper">
        {% for project in projects %}
            <a href="{{ path('app_portfolio')}}/{{ project.id }}">
                <div class="project">
                        <div class="project_img" style="background-image: url({{ project.image }});"></div>
                        <div class="project_detail">
                            <h4>{{ project.name }}</h4>
                            <div class="project_summary">{{ project.summary }}</div>
                            <div class="project_langage">{{ project.langage }}</div>
                        </div>
                    
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
