{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="portfolio_page">
    <h2>Projects I've worked on</h2>
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <a href="{{ path('app_portfolio')}}/{{ project.id }}" class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 col-xxxl-6">
                <div class="project">
                    <div class="project_frame">
                        <div class="project_img" style="background-image: url({{ project.image }});"></div>
                        <div class="project_detail">
                            <h3>{{ project.name }}</h3>
                            <div class="project_summary">{{ project.summary }}</div>
                            <div class="project_langage">{{ project.langage }}</div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
