{% extends 'baseAdmin.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="admin_message_show">
        <h2>Message</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Prénom</th>
                    <td>{{ contact.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ contact.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <th>Envoyé le</th>
                    <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>{{ contact.message }}</td>
                </tr>
            </tbody>
        </table>
        <div class="button">
            <a href="{{ path('app_admin_message_index') }}"><button>Retour à la liste</button></a>
            <a href="{{ path('app_admin_message_delete', {'id': contact.id}) }}"><button>Delete</button></a>
        </div>
    </div>
{% endblock %}
