<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <main>

            <div class="mobile">
                <nav>
	                <div id="burger-menu" class="hamburgerMenu">
		                <span></span>
	                </div>
	                
                    <div id="mobile_menu">
                        <div class="frame">
                        <a class="desktop about" href="{{ path('app_about') }}">About me</a>
                        <a class="desktop about" href="{{ path('app_resume') }}">Resume</a>
                        <a class="desktop about" href="{{ path('app_portfolio') }}">Portfolio</a>
                        <a class="desktop about" href="{{ path('app_contact') }}">Contact me</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="main_wrapper">
                <div class="nav_user">
                    {% include "partials/_UserNavbar.html.twig" %}
                </div>
                <div class="pages_content">
                    <div class="background_user_index"></div>
                    <div class="content">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
