<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="dashboard">
        
            <div class="profil_img">
                <div class="img"></div>
            </div>

            <nav class="menu">
                <ul>
                    <div class="line"></div>
                    <a href="#"><li>About me</li></a>
                    <div class="line"></div>
                    <a href="#"><li>Resume</li></a>
                    <div class="line"></div>
                    <a href="#"><li>Portfolio</li></a>
                    <div class="line"></div>
                    <a href="#"><li>Contact</li></a>
                    <div class="line"></div>
                </ul>
            </nav>

            <div class="separator"></div>
            <div class="footer">
                <div class="social_link">
                    <ul>
                        <a href="#"><li><img src="{{ asset('build/images/linkedin_logo.png') }}" alt="Linkedin logo"></li></a>
                        <a href="#"><li><img src="{{ asset('build/images/github_logo.png') }}" alt="Github logo"></li></a>
                        <a href="#"><li><img src="{{ asset('build/images/youtube_logo.png') }}" alt="Youtube logo"></li></a>
                    </ul>
                </div>
                <p> 2022 © FONDEVILA Gautier<br>All rights reserved</p>
            </div>
        </div>

        <main>
            <div class="background">
                {% block body %}{% endblock %}
            </div>
        </main>

    </body>
</html>
